services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: minhhieudn98/dvtc-faqs:latest
    container_name: dvtc-faqs-app
    environment:
      - NODE_ENV=production
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/api/health"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s
    restart: unless-stopped
