@import "tailwindcss";

@theme {
  --color-primary: #d35400;
  --color-primary-dark: #b84b00;
  --color-blue: #1687c5;
  --color-blue-dark: #1274a9;
  --font-roboto: var(--font-roboto);
}

:root {
  --background: #ffffff;
  --foreground: #333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; /* The site is light theme focused */
    --foreground: #333333;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
